
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: purple;
}


header {
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header img {
    max-height: 50px; 
}

.headerButton {
    display: flex;
    gap: 10px; 
}

header button {
    background-color: white;
    color: blueviolet;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

header button:hover {
    background-color: blueviolet;
    color: white;
}


main {
    padding: 20px;
}


#show-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

#show-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

#show-info {
    padding: 20px;
}

#show-title {
    font-size: 2em;
    color: rgb(255, 255, 255);
    margin: 0;
}

#show-description {
    font-size: 1.2em;
    color:#ddd;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-left, .footer-center, .footer-right {
    flex: 1;
    margin: 10px;
}

.footer-left {
    text-align: left;
}

.footer-center {
    text-align: center;
}

.footer-right {
    text-align: right;
}

.footer-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    display: inline;
    margin: 0 10px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #ddd;
}

.social-icon {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #ddd;
}
